.slick-prev:before,
.slick-next:before {
  color: rgb(18, 18, 3);
  font-size: 30px;
}

.slick-next {
  right: -30px !important;
}

.slick-prev {
  left: -30px !important;
}

.slick-arrow {
  z-index: 2 !important;
}

.link {
  text-decoration: none; 
}

.link:hover span {
  border-bottom: 1.5px solid white; 
}

.navlink {
  text-decoration: none; 
}

.navlink:hover .box {
  transform: translateY(2px);
  transition: all ease-in-out 0.2s;
}

span svg {
  margin-left: 4px; 
}

.Image:hover {
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.button_link span {
  border-bottom: 1px solid transparent; 
}

.button_link:hover span {
  border-bottom: 1px solid white; 
}